<div class="nav nav-tab" style="background-color:#228b22;height:40px">
	<% if user_signed_in? %>
		
		
		<%= link_to "Logout #{current_user.email}", destroy_user_session_path,  :method =>:delete, style: "font-size:20px" %>
		
		
		<%= link_to "|Profil bearbeiten", edit_user_registration_path, style: "font-size:20px;color:white"%>
		
			<%= link_to "Zum Warenkorb", add_pro_to_stock_path(0), style:"font-size:20px;margin-left:50%;float:left;position:absolute;color:white" %>
		
		<br>
		<br>
		
	<%else%>
		<% unless  admin_signed_in? %>
			<%= link_to "Registrieren", new_user_registration_path%> oder
			<%= link_to "User Login", new_user_session_path %>
		<%end%>

	<%end%>

	<% if admin_signed_in? %>
	
	<div id="header_left" style="margin-left:10px;font-size:20px;position:absolute">
		<%= link_to "Logout", destroy_admin_session_path, :method =>:delete %>|
		<%= link_to "Profil bearbeiten", edit_admin_registration_path,style:"color:white" %>
		
	</div>
		<div id="header_right" style ="margin-left:60%;font-size:18px;">

			<%= link_to "Zum Shop", shop_url, style: "color:white" %>|
			<%= link_to "Zum Dashboard", dash_board_url,style: "color:white" %>|
			<%= link_to "Ihr Warenkorb", add_pro_to_stock_path(0),style: "color:white" %>|
		
		</div>

		<%else%> 
		<br/>
		<% unless  user_signed_in? %>
			<%= link_to "Admin Login", new_admin_session_path %>	
		<%end%>
	<%end%>

</div>

<%flash.each do |name,msg|%>
	<%= content_tag :div, msg, :id => "flush_#{name}"%>
<%end%>